services:
  apidemo-blue:
    image: henriquetgam/apidemo:${IMAGE_TAG}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - DEPLOY_SLOT=blue

  apidemo-green:
    image: henriquetgam/apidemo:${IMAGE_TAG}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - DEPLOY_SLOT=green

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    depends_on:
      - apidemo-blue
      - apidemo-green
