services:
  apidemo-blue:
    image: ghcr.io/henriquemoreno/apidemo:${IMAGE_TAG:-latest}
    environment:
      APP_SLOT: blue
      APP_VERSION: ${IMAGE_TAG:-latest}
    expose:
      - "8080"

  apidemo-green:
    image: ghcr.io/henriquemoreno/apidemo:${IMAGE_TAG:-latest}
    environment:
      APP_SLOT: green
      APP_VERSION: ${IMAGE_TAG:-latest}
    expose:
      - "8080"

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./active-slot.txt:/state/active-slot.txt:ro
      - ./canary-slot.txt:/state/canary-slot.txt:ro
      - ./canary-percent.txt:/state/canary-percent.txt:ro
    depends_on:
      - apidemo-blue
      - apidemo-green
