services:
  apidemo-blue:
    image: henriquetgam/apidemo:${IMAGE_TAG}
    environment:
      - DEPLOY_SLOT=blue
    expose:
      - "8080"

  apidemo-green:
    image: henriquetgam/apidemo:${IMAGE_TAG}
    environment:
      - DEPLOY_SLOT=green
    expose:
      - "8080"

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - apidemo-blue
      - apidemo-green
