services:
  apidemo-blue:
    image: ghcr.io/henriquemoreno/apidemo:${IMAGE_TAG:-latest}
    environment:
      APP_SLOT: blue
    expose:
      - "8080"

  apidemo-green:
    image: ghcr.io/henriquemoreno/apidemo:${IMAGE_TAG:-latest}
    environment:
      APP_SLOT: green
    expose:
      - "8080"

nginx:
  image: nginx:alpine
  ports:
    - "8080:80"
  environment:
    ACTIVE_SLOT: ${ACTIVE_SLOT}
    CANARY_SLOT: ${CANARY_SLOT}
    CANARY_PERCENT: ${CANARY_PERCENT}
  volumes:
    - ./infra/nginx/nginx.conf.template:/etc/nginx/templates/nginx.conf.template:ro
    - ./infra/nginx/docker-entrypoint.sh:/docker-entrypoint.sh:ro
  entrypoint: ["/docker-entrypoint.sh"]
  depends_on:
    - apidemo-blue
    - apidemo-green

