services:
  apidemo-blue:
    image: ghcr.io/henriquemoreno/apidemo:${IMAGE_TAG:-latest}
    environment:
      APP_SLOT: blue
      APP_VERSION: ${IMAGE_TAG:-latest}
    expose:
      - "8080"

  apidemo-green:
    image: ghcr.io/henriquemoreno/apidemo:${IMAGE_TAG:-latest}
    environment:
      APP_SLOT: green
      APP_VERSION: ${IMAGE_TAG:-latest}
    expose:
      - "8080"

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    environment:
      ACTIVE_SLOT: ${ACTIVE_SLOT}
      CANARY_SLOT: ${CANARY_SLOT}
      CANARY_PERCENT: ${CANARY_PERCENT}
    volumes:
      - ./infra/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - apidemo-blue
      - apidemo-green
