name: Build and Deploy API

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Docker login
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t henriquetgam/apidemo:${{ github.sha }} .

      - name: Push Docker image
        run: docker push henriquetgam/apidemo:${{ github.sha }}

      - name: Deploy with Docker Compose (safe)
        run: |
          chmod +x wait-for-healthy.sh
          export IMAGE_TAG=${{ github.sha }}
          docker rm -f apidemo || true
          docker compose pull
          docker compose up -d --remove-orphans
          ./wait-for-healthy.sh apidemo-green     
