name: Build and Deploy API

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Docker login
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t henriquetgam/apidemo:${{ github.sha }} .

      - name: Push Docker image
        run: docker push henriquetgam/apidemo:${{ github.sha }}

      - name: Deploy Blue/Green (automatic)
        run: |
          chmod +x wait-for-healthy.sh switch-slot.sh
          
          export IMAGE_TAG=${{ github.sha }}
          
          ACTIVE_SLOT=$(cat active-slot.txt)
          if [ "$ACTIVE_SLOT" = "blue" ]; then
            NEW_SLOT="green"
          else
            NEW_SLOT="blue"
          fi
          
          echo "Deploying to slot: $NEW_SLOT"
          
          docker compose pull
          
          docker compose up -d --no-deps --force-recreate apidemo-$NEW_SLOT
          
          ./wait-for-healthy.sh apidemo-$NEW_SLOT
          
          ./switch-slot.sh
          
          docker compose up -d nginx

