name: Build and Deploy API

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login Docker Hub
        run: |
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t henriquetgam/apidemo:latest .

      - name: Push Docker image
        run: |
          docker push henriquetgam/apidemo:latest

      - name: Stop old container (if exists)
        run: |
          docker rm -f apidemo || true

      - name: Run new container
        run: |
          docker run -d \
            --name apidemo \
            -p 8080:8080 \
            henriquetgam/apidemo:latest
