name: Build and Deploy API

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t henriquetgam/apidemo:latest .

      - name: Push Docker image
        run: docker push henriquetgam/apidemo:latest

      - name: Deploy container
        run: |
          docker rm -f apidemo || true
          docker pull henriquetgam/apidemo:latest
          docker run -d \
            --name apidemo \
            -p 8080:8080 \
            --restart unless-stopped \
            henriquetgam/apidemo:latest
